<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>User Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md bg-info shadow">
        <div class="container-fluid"><a class="navbar-brand text-white" href="/dojo_reads">Dojo Reads</a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div><a class="text-white mr-4" href="/dojo-reads">Home</a><a class="text-white mr-4"
                href="dojo_reads//book/new">Add&nbsp; a book and review</a><a class="text-white"
                href="/dojo_reads/lout_out">Logout</a>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col mt-2">{% for user in users %}
                <h4 class="mt-5">User Alias: {{ user.first_name }}</h4>
                <h6 class="mt-3">Name: {{ user.first_name }}, {{ user.last_name }}</h6>
                <h6 class="mt-3">Email Address: {{ user.email }}</h6>
                <h6 class="mt-3">Totoal Reviews: {{ user.review.count }}</h6>
                <h5 class="mt-5">Posted Reviews on the following books:</h5><a class="mt-3" href="#">{{ user.book.review
                    }}</a>
            </div>{% endfor %}
        </div>
    </div>
    <section></section>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>